// main {
//     display: grid;
//     max-width: 320px;
//     height: 400px;
//     margin: 0 auto;
//     grid-template-columns: 1fr;
//     grid-template-rows: auto auto 1fr auto;
//     color: black;
//     background-color: white;
//     transition: all 0.5s;
//     box-shadow: 5px 5px 15px -6px #8c8c8c;
// }
// // .highlight {
// //     border: 6px solid;
// // }
// input[type="text"] {
//     color: black;
//     background-color: transparent;
//     font-size: 1rem;
//     border: 1px solid blue;
//     padding: 0.5em 0em;
//     transition: all 0.2s;
// }
// input[type="text"]::placeholder {
//     font-style: italic;
// }
// input[type="text"]:focus {
//     outline: none;
//     background-color: whitesmoke;
// }
// button[type="submit"] {
//     border: none;
//     font-size: 1rem;
//     width: 90px;
//     padding: 0.25rem;
//     background-color: gray;
//     color: blue;
//     cursor: pointer;
//     &:hover {
//         color: white;
//         background-color: blue;
//     }
// }
// /*review list edit */
// form.edit-message {
//     display: flex;
//     flex-direction: column;
// }
// form.edit-message input[type="text"] {
//     margin-top: 1.0rem;
//     border: 1px solid green;
//     background-color: white;
//     height: 25px;
// }
// form.edit-message input[type="text"]:focus {
//     border: 1px solid blue;
// }
// form.edit-message input[type="submit"] {
//     margin-top: 0.5rem;
//     width: 80px;
//     font-size: 20px;
// }
// /* chat list */
// .list {
//     overflow-y: auto;
//     display: flex;
//     flex-direction: column;
//     align-content: flex-end;
//     justify-content: flex-end;
// }
// ul {
//     list-style: none;
//     overflow-y: auto;
//     padding-top: 2rem;
// }
// li {
//     border-top: 1px solid transparent;
//     border-bottom: 1px solid transparent;
//     padding: 0.25rem 0.5rem 1.25rem;
//     position: relative;
//     border: 1px solid gray;
// }
// li:hover {
//     border-top: 1px solid green;
//     border-bottom: 1px solid gray;
//     background-color: whitesmoke;
//     cursor: pointer;
// }
// li span.user {
//     font-weight: 600;
//     margin-right: 0.5rem;
//     color: green;
//     font-size: 19px;
// }
// li span.time {
//     font-size: 0.8rem;
//     color: red;
//     margin-left: 8.0rem;
// }
// li p {
//     padding: 0.25rem 0;
//     color: black;
//     font-family: 'Inconsolata', monospace;
// }
// li .reactions {
//     margin-top: 0.25rem;
//     display: flex;
//     align-items: center;
// }
// li button {
//     padding: 0.1rem 0.2rem;
//     border-radius: 5px;
//     border: 1px solid blue;
//     background-color: gray;
//     margin: 0 0.25rem;
//     cursor: pointer;
// }
// li .actions {
//     position: absolute;
//     top: 0;
//     transform: translateY(-50%);
//     right: 1rem;
//     display: none;
// }
// li:hover .actions {
//     display: block;
// }
// /* new review*/
// form.new-message {
//     display: flex;
// }
// form.new-message input[type="text"] {
//     flex: 1 1 auto;
// }
// form.new-message input[type="text"]:focus {
//     padding: 1rem;
// }
// form.new-message input[type="submit"] {
//     opacity: 0.8;
// }
// form.new-message input[type="submit"]:focus {
//     outline: none;
//     opacity: 1;
// }