  .restarauntlist {
      width: 70vw;
      margin: 0 Auto;
      padding: 2rem;
      //   background: red;
  }
  
  .heading {
      color: blue;
      font-size: 2.4rem;
      padding: 9px;
  }
  
  @media screen and (min-width:768px) {
      .restarauntlist {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 1.5rem;
      }
  }
  
  @media screen and (min-width:992px) {
      .restarauntlist {
          width: 85vw;
          grid-template-columns: repeat(3, 1fr);
      }
  }
  
  @media screen and (min-width:1140px) {
      .restarauntlist {
          grid-template-columns: repeat(3, 1fr);
      }
  }